<%= form_with(model: waiter, local: true, class: 'form-horizontal') do |form| %>
  <% if waiter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(waiter.errors.count, "error") %> prohibited this waiter from being saved:</h2>

      <ul>
      <% waiter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= form.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :gender, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= form.select :gender, options_for_select(['Male', 'Female']), {}, class: 'form-control' %> 
        <!-- option value will be the same as the displayed option --> 
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= form.submit class: 'btn btn-default' %>
      </div>
    </div>
<% end %>
