<p id="notice"><%= notice %></p>

<h2>Waiter's Details</h2>
	<p><b>Name: </b><%= @waiter.name %></p>
	<p><b>Gender: </b><%= @waiter.gender %></p>

<h2>Orders</h2>

<%= link_to 'New Order', new_order_path(waiter_id: @waiter.id) %>
<%= link_to 'Back', new_waiter_path %>
