<p id="notice"><%= notice %></p>

<h3>Waiter's Details</h3>
	<p><b>Name: </b><%= @waiter.name %></p>
	<p><b>Gender: </b><%= @waiter.gender %></p>

<h3>Orders</h3>

	<table class='table table-striped'>
  		<thead>
		    <tr>
		      <th>Customer</th>
		      <th>Food</th>
		      <th>Drink</th>
		      <th>Status</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @orders.each do |order| %>
		      <tr>
		        <td><%= order.customer.name %></td>
		        <td><%= order.food %></td>
		        <td><%= order.drink %></td>
		        <td><%= order.status %></td>
		        <td><%= link_to 'Edit Status', edit_order_path(id: order.id, id_of_the_waiter: @waiter.id) %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
