<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select(['Male', 'Female']) %> 
    <!-- option value will be the same as the displayed option --> 
  </div>

  <div class="field">
    <%= form.label :preference %>
    <%= form.text_field :preference %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
