<p id="notice"><%= notice %></p>

	<p><b>Name: </b><%= @customer.name %></p>
	<p><b>Gender: </b><%= @customer.gender %></p>
	<p><b>Preference: </b><%= @customer.preference %></p>

<%= link_to 'Back', new_customer_path %>
