<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :food %>
    <%= form.text_field :food %>
  </div>

  <div class="field">
    <%= form.label :drink %>
    <%= form.text_field :drink %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(['Pending','Complete']) %>
  </div>
 
  <div class="field">
    <%= form.label :customer_id %>
      <% if action_name == 'edit' %>
        <%= order.customer.name %> <!-- order can access name since order belongs to customer-->
      <% else %>
        <%= form.select :customer_id, options_for_select(Customer.pluck(:name, :id), order.customer_id) %>
      <% end %>
  </div>

  <%= form.hidden_field :waiter_id, value: params[:id_of_the_waiter] %> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>